<div class="row">
  <div class="columns small-8 medium-10">
    <h1 class="home">PIM</h1>
    <div id="installButton" class="button filter-diap icon sm install-mobile display-none">Install App</div>
  </div>
  <div class="columns small-4 medium-2 text-right p-4">
    <%= link_to "Edit profile", edit_user_registration_path, class: "button small" %>
  </div>
</div>
<div class="row p-4" data-controller="user">
  <div class="columns medium-6">
    <div class="home meta-data">Personal Information Manager</div>
    <%= content_tag :div, @user.name %>
  </div>
  <div class="columns small-4 medium-2 p-4">
    <label>Light mode</label>
    <%= label_tag "theme_light", class: "switch" do %>
      <%= radio_button_tag "theme", "light", nil, data: { action: "click->user#setTheme" }, class: "switch" %>
      <span class="slider round"></span>
    <% end %>
  </div>
  <div class="columns small-4  medium-2 p-4">
    <label>Dark mode</label>
    <%= label_tag "theme_dark", class: "switch" do %>
      <%= radio_button_tag "theme", "dark", nil, data: { action: "click->user#setTheme" }, class: "switch" %>
      <span class="slider round"></span>
    <% end %>
  </div>
  <div class="columns small-4 medium-2 p-4">
    <label>Red mode</label>
    <%= label_tag "theme_red", class: "switch" do %>
      <%= radio_button_tag "theme", "red", nil, data: { action: "click->user#setTheme" }, class: "switch" %>
      <span class="slider round"></span>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h2 class="icon event-note"> Upcomming events </h3>
  </div>
</div>
<%= render "events/events" %>
