<%= render "layouts/show_errors", resource: @event %>

<%= form_with model: @event, id: "eventForm", class: "userinputs" do |form| %>

  <div class="row">
    <div class="columns">
      <%= form.text_field :title, placeholder: "Title of event"%>
    </div>
  </div>

  <div class="row tz-browser display-none">
    <div class="columns small-4 medium-2 tz-warning">Timezone</div>
    <div class="small-8 medium-10 columns">
      <%= form.select(:tz, ActiveSupport::TimeZone.all.collect {|tz| ["(GMT#{ActiveSupport::TimeZone.seconds_to_utc_offset(tz.utc_offset)}) #{tz.name}", tz.tzinfo.name]},
          { prompt: "" }, { data: { action: 'event#changeTz' }}) %>
    </div>
  </div>

  <!-- date -->
  <div class="row">
    <div class="columns small-4 medium-2">Start</div>
    <div class="columns small-4 medium-6"><%= form.date_field :start_date, data: { action: "event#changeStartTime" } %></div>
    <div class="columns small-4 medium-4">
      <%= form.time_field :start_time, data: { action: "event#changeStartTime" }, class: ("display-none" if @event.allDay) %>
    </div>
  </div>
  <div class="row">
    <div class="columns small-4 medium-2">End</div>
    <div class="columns small-4 medium-6"><%= form.date_field :end_date, data: { action: "event#changeEndTime" } %></div>
    <div class="columns small-4 medium-4">
      <%= form.time_field :end_time, data: { action: "event#changeEndTime" }, class: ("display-none" if @event.allDay) %>
    </div>
  </div>
  <div class="row">
    <div class="columns small-4 medium-2">Allday</div>
    <div class="columns small-12 medium-10">
      <%= form.label :allDay, class: "switch-paddle" %>
      <%= form.check_box :allDay, checked: @event.allDay, class: "switch-paddle", data: { action: "click->event#toggleAllDay" } %>
    </div>
  </div>

  <!-- description -->
  <div class="row">
    <div class="columns">
      <%= form.label :description, class: "label-th display-inline" %>
      <img src="/assets/preview.svg" id="preview_bt" data-action="click->event#showMarkdown" data-tooltip
        title="Click for preview" class="cursor-pointer icon medium">
      <img src="/assets/edit.svg" id="edit_bt" data-action="click->event#hideMarkdown" class="icon medium cursor-pointer display-none">
      <%= form.text_area :description, placeholder: 'You can use markdown for description', rows: '20' %>
      <div id="markdown"></div>
    </div>
  </div>

  tzBrowser
  <%= text_field_tag :tzBrowser %>
  <%= form.text_field :start %>
  <%= form.text_field :end %>
<% end %>
