<div class="row secondary-menu">
  <div class="columns small-9 medium-9">
    <%= image_tag "event-note.svg", class: "icon large" unless @event.id %>
    <%= link_to (image_tag "event-note.svg", class: "icon large"), event_path(@event) if @event.id %>
    <span class="divider"></span>

    <%= link_to edit_event_path(@event), title: "Edit event" do %>
      <%= image_tag "edit.svg", class: "icon large" %>
    <% end if action_name == "show" %>
    <%= content_tag :span, '', class: "divider" if action_name == "show" %>

    <%= image_tag "cloud-upload.svg", id: "cloud-upload", data: { action: "click->event#submitForm" },
       title: "Save event", class:"icon large cursor-pointer" if action_name != "show" %>
    <%= content_tag :span, '', class: "divider" if action_name != "show" && @event.id %>

    <%= link_to eventversions_path(org_id: @event.id), title: "Versions of this event" do %>
      <img src="/assets/restore.svg" class="icon large">
    <% end if @event.id %>
    <%= content_tag :span, '', class: "divider" if @event.id %>

    <%= image_tag "more-time.svg", data: { action: "click->event#showTimezones" },
       title: "Toggle timezones", class:"icon large cursor-pointer" if action_name != "show" %>
    <%= content_tag :span, '', class: "timezones divider" if action_name != "show" %>

  </div>
  <div class="columns small-3 medium-3 text-right">
    <%= link_to event_path(@event), data: {turbo_method: :delete, turbo_confirm: 'Are you sure to delete this event?'},
      title: "Delete item!" do %>
      <%= image_tag "delete.svg", class: "icon large" %>
    <% end if @event.id %>
  </div>
</div>
