<%= render "events/secondary_menu" unless @event.try(:org_id) %>
<%= render "events/restore_menu" if @event.try(:org_id) %>

<%= form_with model: @event do |form| %>

<div class="row">
  <div class="columns appointment">
    <h2 class="th"><%= @event.title %></h2>
  </div>
</div>

<div class="row">
  <div class="columns tz-warning display-none appointment">Created or edited in different timezone!</div>
  <div class="columns display-inline appointment">
    <%= content_tag :label, @event.tz, class: "button small tz-show display-none mr-2" %>
    <%= content_tag :label, l(@event.start, format: :mediumnotime), class: "button small mr-2" if @event.allDay  %>
    <%= content_tag :label, l(@event.start, format: :medium), class: "button small mr-2" unless @event.allDay %>
    <%= content_tag :label, l(@event.end, format: :mediumnotime), class: "button small mr-2" if @event.allDay %>
    <%= content_tag :label, l(@event.end, format: :medium), class: "button small mr-2" unless @event.allDay %>
    <%= content_tag :label, "Allday", class: "button small" if @event.allDay %>
  </div>
  <div class="columns tz-warning display-none appointment pt-3">Browser timezone</div>
  <div class="columns tz-warning display-none appointment">
    <%= content_tag :label, "", id: "tzBrowser", class: "button small mr-2" %>
    <%= content_tag :label, "", id: "browserEventStart", class: "button small mr-2" %>
    <%= content_tag :label, "", id: "browserEventEnd", class: "button small" %>
  </div>
</div>

<div class="row">
  <div class="columns appointment">
    <%= content_tag :pre, @event.notes, id: "notes", class: "display-none" %>
    <div data-controller="event" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" %>
    <%= form.hidden_field :tags %>
  </div>
</div>

<div class="row">
  <div class="columns"><label class="text-lg"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l @event.created_at, format: :default %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l @event.updated_at, format: :default %></div>
</div>
  <%= form.hidden_field :tz %>
  <%= form.hidden_field :start %>
  <%= form.hidden_field :end %>
<% end %>
