<%= render "events/secondary_menu" unless @event.try(:org_id) %>
<%= render "events/restore_menu" if @event.try(:org_id) %>

<%= form_with model: @event do |form| %>

<div class="row">
  <div class="columns">
    <h3 class="th"><%= @event.title %></h3>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns tz-warning display-none">Created or edited in different timezone!</div>
  <div class="medium-3 columns sub tz-warning display-none">
    <%= form.text_field :tz, class: "event-show-date-time" %>
  </div>
  <div class="medium-3 columns sub display-inline">
    <%= text_field :label, '', id: "event_start_date", class: "event-show-date-time" %>
    <%= text_field :label, '', id: "event_start_time", class: (@event.allDay ? "display-none" : "event-show-date-time") %>
  </div>
  <div class="medium-1 columns"><img src="/assets/arrow-forward.svg" class="icon large"></div>
  <div class="medium-3 columns sub display-inline">
    <%= text_field :label, '', id: "event_end_date", class: "event-show-date-time" %>
    <%= text_field :label, '', id: "event_end_time", class: (@event.allDay ? "display-none" : "event-show-date-time") %>
  </div>
  <div class="medium-2 columns">
    <%= image_tag "/assets/allday.svg", class: "icon #{@event.allDay ? 'columns' : 'display-none'}" %>
  </div>

  <div class="medium-12 columns tz-browser display-none">Browser timezone</div>
  <div class="medium-3 columns sub tz-browser display-none">
    <%= text_field :label, '', id: "tzBrowser", class: "event-show-date-time" %>
  </div>
  <div class="medium-3 columns sub tz-browser display-inline display-none">
    <%= text_field :label, '', id: "event_start_date_tzBrowser", class: "event-show-date-time" %>
    <%= text_field :label, '', id: "event_start_time_tzBrowser", class: "event-show-date-time" %>
  </div>
  <div class="medium-1 columns tz-browser display-none"><img src="/assets/arrow-forward.svg" class="icon large"></div>
  <div class="medium-3 columns sub tz-browser display-inline display-none">
    <%= text_field :label, '', id: "event_end_date_tzBrowser", class: "event-show-date-time" %>
    <%= text_field :label, '', id: "event_end_time_tzBrowser", class: "event-show-date-time" %>
  </div>
  <div class="medium-1 columns tz-browser display-none"></div>
</div>

<div class="row">
  <div class="columns">
    <%= label_tag :description, nil, class:"label-th" unless @event.description.blank? %>
    <%= content_tag :pre, @event.description, id: "description", class: "display-none" %>
    <div data-controller="event" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l @event.created_at, format: :long %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l @event.updated_at, format: :long %></div>
</div>
  <%= form.text_field :tz %>
  <%= form.text_field :start %>
  <%= form.text_field :end %>
<% end %>
