<%= render "events/secondary_menu" unless @event.try(:org_id) %>
<%= render "events/restore_menu" if @event.try(:org_id) %>

<%= form_with model: @event do |form| %>

<div class="row">
  <div class="columns">
    <h3 class="th"><%= @event.title %></h3>
  </div>
</div>

<div class="row">
  <div class="columns tz-warning display-none">Created or edited in different timezone!</div>
  <div class="columns display-inline">
    <%= content_tag :label, @event.tz, class: "event-show-date-time tz-show display-none" %>
    <%= content_tag :label, l(@event.start, format: :longnotime), class: "event-show-date-time" if @event.allDay  %>
    <%= content_tag :label, l(@event.start, format: :long), class: "event-show-date-time" unless @event.allDay %>
    <span class="sup">-</span>
    <%= content_tag :label, l(@event.end, format: :longnotime), class: "event-show-date-time" if @event.allDay %>
    <%= content_tag :label, l(@event.end, format: :long), class: "event-show-date-time" unless @event.allDay %>
    <%= content_tag :label, "Allday", class: "event-show-date-time" if @event.allDay %>
  </div>
  <div class="columns tz-warning display-none">Browser timezone</div>
  <div class="columns tz-warning display-none">
    <%= content_tag :label, "", id: "tzBrowser", class: "event-show-date-time" %>
    <%= content_tag :label, "", id: "browserEventStart", class: "event-show-date-time" %>
    <span class="sup">-</span>
    <%= content_tag :label, "", id: "browserEventEnd", class: "event-show-date-time" %>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :pre, @event.description, id: "description", class: "display-none" %>
    <div data-controller="event" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @event.tags.present? %>
    <%= form.hidden_field :tags %>
  </div>
</div>

<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l @event.created_at, format: :default %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l @event.updated_at, format: :default %></div>
</div>
  <%= form.hidden_field :tz %>
  <%= form.hidden_field :start %>
  <%= form.hidden_field :end %>
<% end %>
