<div id="contacts" class="col-12">
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), class: "row odd-even" do %>
  <div class="small-1 medium-1 column text-center">
    <%= image_tag "star-filled.svg", class: "icon medium warning-filter" if contact.starred %>
  </div>
  <div class="small-11 medium-5 column">
    <%= contact.name %>
  </div>
  <div class="medium-6 column hide-for-small-only">
    <%= JSON.parse(contact.companies).last['value'] unless contact.companies.include?("[]") %>
  </div>
  <% end %>
<% end %>
</div>

<%= content_tag :div, class: "columns" do %>
  <div class="padding-1em">No contacts yet, create with the + icon.</div>
<% end unless @contacts.any? %>
