
<div class="row">
  <div class="columns">
  <% if contact.errors.any? %>
    <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
    <ul>
    <% contact.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    </ul>
  <% end %>
  </div>
</div>

<%= form_with model: contact, data: {'controller': 'contact', 'action': 'submit->contact#prepareParams'} do |form| %>
  <%= form.text_field :phones , size: '200' %><br>

  <div class="row">
    <div class="columns">
      <p><%= @contact.phones %></p>
      <%= form.label :name %>
    </div>
    <div class="columns">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label class="label-th">Phones <span id="addPhone" class="ib-plus"></span></label>
        <% JSON.parse(@contact.phones).each_with_index do | phone,index | %>
          <%= form.text_field "phone_type", value: [phone['type']] %> ->
          <%= form.text_field "phone_value", value: [phone['value']] %><br>
          <hr>
        <% end %>
      <div>
  </div>

  <div class="row">
    <div class="columns">
      <%= form.submit %>
    </div>
  </div>
<% end %>

