<%= render "layouts/show_errors", target: @contact %>

<%= form_with model: contact, id: "contactForm", class: "userinputs",
    data: {'action': 'submit->contact#prepareParams'} do |form| %>

  <div class="row">
    <div class="columns">
      <%= form.label :name, class: "userinputs" %>
    </div>
    <div class="columns">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-11 columns"><label class="label-th">Phone numbers</label></div>
    <div class="small-1 medium-1"><span id="addPhone" data-action="click->contact#addPhone" class="ib-plus icon-medium"></div>
  </div>
  <div class="row">
    <div class="columns" id="phones">
      <% JSON.parse(@contact.phones).each_with_index do | phone,index | %>
      <div class="row">
        <div class="small-5 medium-5">
          <%= form.text_field "phone_type", value: [phone['type']] %>
        </div>
        <div class="small-6 medium-6 columns">
          <%= form.text_field "phone_value", value: [phone['value']] %>
        </div>
        <div data-action="click->contact#removePhone" class="columns small-1 medium-1">
          <span class="ib-trash icon-medium"></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="columns" id="phones">
      <label class="label-th display-inline">Notes</label>
      <span id="preview_bt" data-action="click->contact#showMarkdown" data-tooltip
        title="Click for preview" class="ib-preview cursor-pointer icon-medium"></span>
      <span id="edit_bt" data-action="click->contact#hideMarkdown" class="ib-edit icon-medium display-none"></span>
      <%= form.text_area :notes, rows: '20' %>
      <div id="markdown"></div>
    </div>
  </div>
  <%= form.hidden_field :phones %>
  <%= form.hidden_field :starred %>
<% end %>

