<%= form_with model: @contact, id: "contactForm", class: "userinputs" do |form| %>
  <%= render "layouts/show_errors", resource: @contact %>
  <div class="row">
    <div class="columns">
      <%= form.label :name, class: "label" %>
    </div>
    <div class="columns">
      <%= form.text_field :name, class: "text-lg", placeholder: "Fullname of contact"%>
    </div>
  </div>

  <!-- Phones -->
  <div class="row">
    <div class="small-10 medium-11 columns pt-4">
      <%= form.label :phones, class: "text-lg" %>
    </div>
    <div class="small-2 medium-1 text-center">
      <div class="icon add" data-action="click->contact#addTypeValue"  data-value="phone"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="phones">
      <% JSON.parse(@contact.phones).each_with_index do | phone,index | %>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <%= select_tag "contact_phone_type", options_for_select(["Mobile","Work","Home","Other"], phone['type']), data: { tojson: '' } %>
        </div>
        <div class="small-10 medium-6 columns">
          <%= form.text_field "phone_value", value: phone['value'], data: {tojson: '' } %>
        </div>
        <div class="small-2 medium-1 columns text-center">
          <div class="icon delete" data-action="click->contact#removeTypeValue" data-value="contact_phone"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Emails -->
  <div class="row">
    <div class="small-10 medium-11 columns pt-4">
      <%= form.label :emails, class: "text-lg" %>
    </div>
    <div class="small-2 medium-1 text-center">
      <div class="icon add" data-action="click->contact#addTypeValue"  data-value="email"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="emails">
      <% JSON.parse(@contact.emails).each_with_index do | email,index | %>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <%= form.text_field "email_type", value: email['type'], placeholder: 'Label', data: { tojson: '' } %>
        </div>
        <div class="small-10 medium-6 columns">
          <%= form.text_field "email_value", value: email['value'], data: { tojson: '' } %>
        </div>
        <div class="columns small-2 medium-1 text-center">
          <div class="icon delete" data-action="click->contact#removeTypeValue" data-value="contact_email"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Addresses -->
  <div class="row">
    <div class="small-10 medium-11 columns pt-4">
      <%= form.label :addresses, class: "text-lg" %>
    </div>
    <div class="small-2 medium-1 text-center">
      <div class="icon add" data-action="click->contact#addTypeValue"  data-value="address"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="addresses">
      <% JSON.parse(@contact.addresses).each_with_index do | address,index | %>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <%= form.text_field "address_type", value: address['type'], placeholder: 'Label', data: { tojson: '' } %>
        </div>
        <div class="small-10 medium-6 columns">
          <%= form.text_field "address_value", value: address['value'], data: { tojson: '' } %>
        </div>
        <div class="small-2 medium-1 columns text-center">
          <div class="icon delete" data-action="click->contact#removeTypeValue" data-value="contact_address"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Companies -->
  <div class="row">
    <div class="small-10 medium-11 columns pt-4">
      <%= form.label :companies, class: "text-lg" %>
    </div>
    <div class="small-2 medium-1 columns text-center">
      <div class="icon add" data-action="click->contact#addTypeValue"  data-value="company"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="companies">
      <% JSON.parse(@contact.companies).each_with_index do | company,index | %>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <%= form.text_field "company_type", value: company['type'], placeholder: 'Function', data: { tojson: '' } %>
        </div>
        <div class="small-10 medium-6 columns">
          <%= form.text_field "company_value", value: company['value'], data: { tojson: '' } %>
        </div>
        <div class="small-2 medium-1 columns text-center">
          <div class="icon delete" data-action="click->contact#removeTypeValue" data-value="contact_company"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Websites -->
  <div class="row">
    <div class="small-10 medium-11 columns pt-4">
      <%= form.label :websites, class: "text-lg" %>
    </div>
    <div class="small-2 medium-1 columns text-center">
      <div class="icon add" data-action="click->contact#addTypeValue"  data-value="website"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="websites">
      <% JSON.parse(@contact.websites).each_with_index do | website,index | %>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <%= form.text_field "website_type", value: website['type'], placeholder: 'Label', data: { tojson: '' } %>
        </div>
        <div class="small-10 medium-6 columns">
          <%= form.text_field "website_value", value: website['value'], data: { tojson: '' } %>
        </div>
        <div class="small-2 medium-1 columns text-center">
          <div class="icon delete" data-action="click->contact#removeTypeValue" data-value="contact_website"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- birthdate -->
  <div class="row">
    <div class="columns">
      <%= form.label :birhtdate %>
    </div>
    <div class="columns">
      <%= form.date_field :birthdate %>
    </div>
  </div>

  <!-- notes -->
  <div class="row">
    <div class="columns">
      <%= form.label :notes, class: "display-inline text-lg" %>
      <div class="icon markdown align-bottom" id="preview_bt" data-action="click->contact#showMarkdown" data-tooltip title="Click to see markdown format"></div>
      <div class="icon edit align-bottom display-none" id="edit_bt" data-action="click->contact#hideMarkdown" data-tooltip title="Click to edit"></div>
      <%= form.text_area :notes, id: 'contact_notes', placeholder: 'You can use markdown for notes', rows: '20' %>
      <div id="markdown"></div>
    </div>
  </div>

  <!-- tags -->
  <div class="row">
    <div class="columns">
      <%= form.label :tags, class: "text-lg display-inline" %>
      <%= form.text_field :tags, id: 'contact_tags', placeholder: 'Comma separeted values' %>
      <div id="tagsContainer"></div>
    </div>
  </div>

  <%= form.hidden_field :phones %>
  <%= form.hidden_field :emails %>
  <%= form.hidden_field :addresses %>
  <%= form.hidden_field :companies %>
  <%= form.hidden_field :websites %>
<% end %>

<%= render "base/resource_footer", resource: @contact %>
