<div class="row secondary-menu">
  <div class="columns small-10 medium-10">
    <img src="/assets/person.svg" class="icon large">
    <span class="divider"></span>
    <%= form_with model: @contact, id: "starredForm", class: "display-inline" do |form| %>
      <span>
        <img src="/assets/star<%= @contact.starred? ? '-filled' : '' %>.svg"
         class="icon large cursor-pointer <%= @contact.starred? ? 'warning' : '' %>"
         data-controller="contact" data-action="click->contact#setStarred">
        <%= hidden_field_tag :redirect , action_name %>
        <%= form.hidden_field :starred, { onchange: "this.form.requestSubmit()" } %>
      </span>
    <% end if @contact.id %>
    <%= content_tag :span, '', class: "divider" if @contact.id %>

    <%= link_to edit_contact_path(@contact), title: "Edit contact" do %>
      <%= image_tag "edit.svg", class: "icon large" %>
    <% end if action_name == "show" %>
    <%= content_tag :span, '', class: "divider" if action_name == "show" %>

    <%= link_to contact_path(@contact), title: "Show contact" do %>
      <%= image_tag "visibility.svg", class: "icon large" %>
    <% end if action_name == "edit" %>
    <%= content_tag :span, '', class: "divider" if action_name == "edit" %>

    <%= image_tag "cloud-upload.svg", id: "cloud-upload", data: { action: "click->contact#submitForm" },
       title: "Save contact", class:"icon large cursor-pointer" if action_name != "show" %>
    <%= content_tag :span, '', class: "divider" if action_name != "show" && @contact.id %>

    <%= link_to contactversions_path(org_id: @contact.id), title: "Versions of this contact" do %>
      <img src="/assets/restore.svg" class="icon large">
    <% end if @contact.id %>
    <%= content_tag :span, '', class: "divider" if @contact.id %>

  </div>
  <div class="columns small-2 medium-2 text-right">
    <%= content_tag :span, '', class: "divider" if @contact.id %>
    <%= link_to contact_path(@contact), data: {turbo_method: :delete, turbo_confirm: 'Are you sure to delete this contact?'},
      title: "Delete item!" do %>
      <%= image_tag "delete.svg", class: "icon large" %>
    <% end if @contact.id %>
  </div>
</div>
