<div class="row mb-6">
  <div class="small-10 medium-10 columns">
    <%= link_to (content_tag :div, '', class: "icon filter group md p-2 border-right-dashed"), contacts_path %>
    <%= link_to (content_tag :div, '', class: "icon filter star md p-2 border-right-dashed"), contacts_path(starrred: true) %>
    <%= link_to (content_tag :div, '', class: "icon filter cake md p-2 border-right-dashed"), contacts_path(birthdate: true) %>
    <div class="icon filter search md" data-controller="contact" data-action="click->contact#showSearch"></div>
  </div>
  <div class="small-2 medium-2 columns pt-2 text-right">
    <%= link_to (content_tag :div, '', class: "icon filter person-add md"), new_contact_path, data: { turbo_frame: dom_id(Contact.new) } %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: contacts_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search contacts', value: cookies[:search],
      data: { controller: "contact", action: "focus->contact#search input->contact#search" } %>
  <% end %>
  </div>
</div>

<%= render "contacts" unless params[:birthdate] || params[:starred] %>
<%= render "starred" if params[:starred] %>
<%= render "birthdates" if params[:birthdate] %>
