<div class="row secondary-menu">
  <div class="small-10 medium-10 columns">
    <%= link_to (image_tag "group.svg", class: "icon large"), contacts_path %>
    <span class="divider"></span>
    <%= link_to contacts_path(starred: true)  do %>
      <%= image_tag "star.svg", class: "icon large" %>
    <% end %>
    <span class="divider"></span>
    <%= link_to contacts_path(birthdate: true) do %>
      <%= image_tag "cake.svg", class: "icon large" %>
    <% end %>
    <span class="divider"></span>
    <img src="/assets/search.svg" data-controller="contact" data-action="click->contact#showSearch" class="icon large">
  </div>
  <div class="small-2 medium-2 columns text-right">
    <%= link_to new_contact_path, data: { turbo_frame: dom_id(Contact.new) } do %>
      <%= image_tag "person-add.svg", class: "icon large" %>
    <% end %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: contacts_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search contacts', value: cookies[:search],
      data: { controller: "contact", action: "focus->contact#search input->contact#search" } %>
  <% end %>
  </div>
</div>

<%= render "contacts" unless params[:birthdate] || params[:starred] %>
<%= render "starred" if params[:starred] %>
<%= render "birthdates" if params[:birthdate] %>
