<div class="row secondary-menu">
  <div class="columns small-6 medium-6">
    <span class="ib-star<%= @contact.starred? ? '-filled' : '' %>"></span>
    <span class="divider"></span>
    <%= link_to "", edit_contact_path(@contact), data: { turbo: "false" }, class: "ib-edit" %>
    <span class="divider"></span>
  </div>
  <div class="columns small-6 medium-6 text-right">
    <span class="divider"></span>
    <%= link_to "", contact_path(@contact, format: :html),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?"}, class: "ib-trash" %>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h3><%= @contact.name %></h3>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <%= label_tag :phones, nil, class:"label-th" unless @contact.phones.include?("[]") %>
    <% JSON.parse(@contact.phones).each do | phone | %>
    <div class="row">
      <div class="medium-10 columns">
        <%= label_tag phone["type"] %>
        <span class="float-right ib-call medium-icon"></span>
        <%= phone["value"] %>
      </div>
      <div class="medium-2 columns fi-telephone large-icon"></div>
    </div>
    <% end %>
    <div>
      <%= label_tag :emails, nil, class:"label-th" unless @contact.emails.include?("[]") %>
      <% JSON.parse(@contact.emails).each do | email | %>
        <%= email["type"] %>: <%= email["value"] %>
      <% end %>
    </div>
  </div>
  <div class="medium-6 columns">
    <label class="label-th">Notes</label>
    <%= content_tag :pre, @contact.notes, id: "notes", class: "display-none" %>
    <div data-controller="contact" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= @contact.created_at %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= @contact.updated_at %></div>
</div>
