<%= render "contacts/secondary_menu" unless @contact.try(:org_id) %>
<%= render "contacts/restore_menu" if @contact.try(:org_id) %>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h3><%= @contact.name %></h3>
  </div>
  <div class="small-12 medium-6 columns">
    <%= content_tag :label do %>
      <%= image_tag "cake.svg", class: "icon small" %>
      <%= get_birthday_age(@contact) %>
    <% end if @contact.birthdate %>
  </div>
</div>


<div class="row">
  <div class="medium-6 columns">
    <div class="medium-6 columns">
      <%= label_tag :phones, nil, class:"label-th" unless @contact.phones.include?("[]") %>
      <% JSON.parse(@contact.phones).each do | phone | %>
      <div class="row">
        <div class="medium-10 columns">
          <%= label_tag phone["type"] %>
          <%= image_tag "call.svg", class: "icon medium float-right" %>
          <%= phone["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6 columns">
      <%= label_tag :emails, nil, class:"label-th" unless @contact.emails.include?("[]") %>
      <% JSON.parse(@contact.emails).each do | email | %>
      <div class="row">
        <div class="medium-10 columns">
          <%= label_tag email["type"] %>
          <%= image_tag "mail.svg", class: "icon medium float-right" %>
          <%= email["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6 columns">
      <%= label_tag :addresses, nil, class:"label-th" unless @contact.addresses.include?("[]") %>
      <% JSON.parse(@contact.addresses).each do | address | %>
      <div class="row">
        <div class="medium-10 columns">
          <%= label_tag address["type"] %>
          <%= image_tag "location-on.svg", class: "icon medium float-right" %>
          <%= address["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6 columns">
      <%= label_tag :companies, nil, class:"label-th" unless @contact.companies.include?("[]") %>
      <% JSON.parse(@contact.companies).each do | company | %>
      <div class="row">
        <div class="medium-10 columns">
          <%= label_tag company["type"] %>
          <%= image_tag "apartment.svg", class: "icon medium float-right" %>
          <%= company["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6 columns">
      <%= label_tag :websites, nil, class:"label-th" unless @contact.websites.include?("[]") %>
      <% JSON.parse(@contact.websites).each do | website | %>
      <div class="row">
        <div class="medium-10 columns">
          <%= label_tag website["type"] %>
          <%= image_tag "link.svg", class: "icon medium float-right" %>
          <%= website["value"] %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="medium-6 columns">
    <%= label_tag :notes, nil, class:"label-th" unless @contact.notes.blank? %>
    <%= content_tag :pre, @contact.notes, id: "notes", class: "display-none" %>
    <div data-controller="contact" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @contact.tags.present? %>
    <%= hidden_field_tag "contact_tags", @contact.tags %>
  </div>
</div>

<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l @contact.created_at, format: :long %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l @contact.updated_at, format: :long %></div>
</div>
<%= form_with model: @contact, id: "contactForm" do |form| %>
  <%= form.hidden_field :starred %>
<% end %>
