<%= render "contacts/secondary_menu" unless @contact.try(:org_id) %>
<%= render "contacts/restore_menu" if @contact.try(:org_id) %>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h2 class="<%= "icon star-filled filter-orange" if @contact.starred == 1 %>"> <%= @contact.name %></h2>
  </div>
  <div class="small-12 medium-6 columns">
    <%= content_tag :span, get_birthday_age(@contact), class: "icon cake-filled filter-orange mt--2" if @contact.birthdate %>
  </div>
</div>


<div class="row">
  <div class="medium-6 columns">
    <div class="medium-6">
      <%= label_tag :phones, nil, class:"text-lg p-1 my-2 color-bg-100" unless @contact.phones.include?("[]") %>
      <% JSON.parse(@contact.phones).each do | phone | %>
      <div class="row my-2">
        <div class="medium-10 columns">
          <div class="icon call float-right"></div>
          <%= label_tag phone["type"] %>
          <%= phone["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6">
      <%= label_tag :emails, nil, class:"text-lg p-1 my-2 color-bg-100" unless @contact.emails.include?("[]") %>
      <% JSON.parse(@contact.emails).each do | email | %>
      <div class="row my-2">
        <div class="medium-10 columns">
          <div class="icon mail float-right"></div>
          <%= label_tag email["type"] %>
          <%= email["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6">
      <%= label_tag :addresses, nil, class:"text-lg p-1 my-2 color-bg-100" unless @contact.addresses.include?("[]") %>
      <% JSON.parse(@contact.addresses).each do | address | %>
      <div class="row my-2">
        <div class="medium-10 columns">
          <div class="icon home-work float-right"></div>
          <%= label_tag address["type"] %>
          <%= address["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6">
      <%= label_tag :companies, nil, class:"text-lg p-1 my-2 color-bg-100" unless @contact.companies.include?("[]") %>
      <% JSON.parse(@contact.companies).each do | company | %>
      <div class="row my-2">
        <div class="medium-10 columns">
          <div class="icon apartement float-right"></div>
          <%= label_tag company["type"] %>
          <%= company["value"] %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="medium-6">
      <%= label_tag :websites, nil, class:"text-lg p-1 my-2 color-bg-100" unless @contact.websites.include?("[]") %>
      <% JSON.parse(@contact.websites).each do | website | %>
      <div class="row my-2">
        <div class="medium-10 columns">
          <div class="icon link float-right"></div>
          <%= label_tag website["type"] %>
          <%= website["value"] %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="medium-6 columns">
    <%= label_tag :notes, nil, class:"text-lg p-1 my-2 color-bg-100" unless @contact.notes.blank? %>
    <%= content_tag :pre, @contact.notes, id: "notes", class: "display-none" %>
    <div data-controller="contact" id="markdown"></div>
  </div>
</div>

<div class="row hide-for-print">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @contact.tags.present? %>
    <%= hidden_field_tag "contact_tags", @contact.tags %>
  </div>
</div>

<%= form_with model: @contact, id: "contactForm" do |form| %>
  <%= form.hidden_field :starred %>
<% end %>

<%= render "base/resource_footer", resource: @contact %>
