<%= form_with model: @passkey, id: "passkeyForm", class: "userinputs" do |form| %>
  <%= render "layouts/show_errors", resource: @passkey %>

  <div class="row">
    <div class="columns">
      <%= form.label :title, class: "label-th" %>
    </div>
    <div class="columns">
      <%= form.text_field :title, placeholder: "Enter title for this key" %>
    </div>
    <div class="columns">
      <%= form.label :username %>
    </div>
    <div class="columns">
      <%= form.text_field :username, placeholder: "Enter username" %>
    </div>
    <div class="columns small-6 medium-9">
      <%= form.label :password %>
      <%= form.text_field :password, placeholder: "Enter password" %>
    </div>
    <div class="columns small-4 medium-2 px-4">
      <label>New password</label>
      <span class="button tiny" data-action="click->passkey#newPassword">Generate</span>
    </div>
    <div class="columns small-2 medium-1">
      <%= form.label :twofa, id: "show2fa", class: @passkey.twofa? ? "icon xs star-filled filter-orange pb-2" : '' %>
      <%= form.label :twofa, class: "switch" do %>
        <%= form.check_box :twofa, data: { action: "click->passkey#set2fa" }, class: "switch" %>
        <span class="slider round"></span>
      <% end %>
    </div>
    <div class="columns">
      <%= form.label :url %>
    </div>
    <div class="columns">
      <%= form.text_field :url, placeholder: "New url" %>
    </div>
  </div>

  <!-- notes -->
  <div class="row">
    <div class="columns">
      <%= form.label :notes, class: "display-inline text-lg" %>
      <div id="preview_bt" data-action="click->passkey#showMarkdown" data-tooltip title="Click for preview" class="icon markdown align-bottom cursor-pointer"></div>
      <div id="edit_bt"    data-action="click->passkey#hideMarkdown" data-tooltip title="Click to edit"     class="icon edit align-bottom cursor-pointer display-none"></div>
      <%= form.text_area :notes, placeholder: 'You can use markdown for Notes', rows: '20' %>
      <div id="markdown"></div>
    </div>
  </div>

  <!-- tags -->
  <div class="row">
    <div class="columns">
      <%= form.label :tags, class: "display-inline" %>
      <%= form.text_field :tags, placeholder: 'Comma separeted values' %>
      <div id="tagsContainer"></div>
    </div>
  </div>
<% end %>

<%= render "shareDialog", resource: @passkey %>
<%= render "base/resource_footer", resource: @passkey %>
