<div id="passkeys" class="col-12">
<% @passkeys.each do |passkey| %>
  <%= link_to passkey_path(passkey), class: "row odd-even" do %>
  <div class="medium-6 columns">
    <%= passkey.title %>
  </div>
  <div class="medium-2 columns hide-for-small-only">
    <%= content_tag :label, (l passkey.last_read, format: "%Y-%m-%d"), class: "button tiny display-inline" %>
  </div>
  <div class="medium-2 columns hide-for-small-only">
    <%= content_tag :label, (l passkey.updated_at, format: "%Y-%m-%d") %>
  </div>
  <div class="medium-2 columns hide-for-small-only">
    <%= content_tag :label, (l passkey.created_at, format: "%Y-%m-%d") %>
  </div>
  <% end %>
<% end %>
</div>
