<div id="passkeys" class="col-12" data-turbo-prefetch="false">
<% @passkeys.each do |passkey| %>
  <%= link_to passkey_path(passkey), class: "row even p-2" do %>
  <div class="small-1 medium-1 columns">
    <%= content_tag :div, '', class: "icon xs star-filled filter-orange" if passkey.twofa %>
  </div>
  <div class="small-5 medium-6 columns">
    <%= passkey.title %>
  </div>
  <div class="small-6 medium-2 columns">
    <%= content_tag :span, '', class: "icon filter share sm", title: "Share passkey" unless passkey.user_id == current_user.id %>
    <%= content_tag :span, User.find(passkey.user_id).email unless passkey.user_id == current_user.id %>
  </div>
  <div class="medium-1 columns hide-for-small-only whitespace-nowrap overflow-hidden">
    <%= content_tag :label, (passkey.user_id == current_user.id ? (l passkey.last_read, format: "%Y-%m-%d") : "Read only"), class: "button tiny display-inline" %>
  </div>
  <div class="medium-1 columns hide-for-small-only whitespace-nowrap overflow-hidden">
    <%= content_tag :label, (l passkey.updated_at, format: "%Y-%m-%d") %>
  </div>
  <div class="medium-1 columns hide-for-small-only whitespace-nowrap overflow-hidden">
    <%= content_tag :label, (l passkey.created_at, format: "%Y-%m-%d") %>
  </div>
  <% end %>
<% end %>
</div>

<%= content_tag :div, class: "row" do %>
  <div class="columns p-2">No passkeys yet, create one with the + icon.</div>
<% end unless @passkeys.any? %>
