<% if @passkey.try(:org_id).present? || @passkey_readonly == true %>
<div class="row notice p-3">
  <div class="columns small-10 medium-10 text-xl">Shared by <%= User.find(@passkey.user_id).email %></div>
</div>

<% else %>

<div class="row secondary mb-6">
  <div class="columns small-10 medium-10">
    <%= content_tag :div, '', class: "icon icon-key md p-2" unless @passkey.id %>
    <%= link_to (content_tag :div, '', class: "icon icon-key md pr-2 border-right-dashed"),
      passkey_path(@passkey) if @passkey.id %>

    <%= link_to (content_tag :div, '', class: "icon icon-edit md p-2 border-right-dashed"),
      edit_passkey_path(@passkey), title: "Edit passkey" if action_name == "show" %>

    <%= link_to (content_tag :div, '', class: "icon icon-visibility md p-2 border-right-dashed"),
      passkey_path(@passkey), title: "Show passkey" if action_name == "edit" %>

    <%= content_tag :div, '', class: "icon icon-cloud-upload md p-2", id: "cloud-upload",
      data: { action: "click->passkey#submitForm" }, title: "Save passkey" if action_name != "show" %>

    <%= link_to (content_tag :div, '', class: "icon icon-restore md p-2 border-right-dashed"),
      passkey_versions_path(org_id: @passkey.id), title: "Versions of this passkey" if @passkey.id %>

    <%= content_tag :div, '', class: "icon icon-share md p-2", id: "share", title: "Share passkey",
      data: { controller: "passkey", action: "click->passkey#openShareDialog" } if @passkey.id %>

  </div>
  <div class="columns small-2 medium-2 text-right">
    <%= link_to (content_tag :div, '', class: "icon icon-delete md p-2"),
      passkey_path(@passkey), data: {turbo_method: :delete, turbo_confirm: 'Are you sure to delete this passkey?'},
      title: "Delete item!" if @passkey.id %>
  </div>
</div>
<% end %>
