<% unless @passkey.try(:org_id).present? || @passkey_readonly == true %>
<div class="row mb-6">
  <div class="columns small-10 medium-10">
    <%= content_tag :div, '', class: "icon filter key p-2" unless @passkey.id %>
    <%= link_to (content_tag :div, '', class: "icon filter key pr-2 border-right-dashed"),
      passkey_path(@passkey), title: "Back to passkey without saving" if @passkey.id %>

    <%= link_to (content_tag :div, '', class: "icon filter edit p-2 border-right-dashed"),
      edit_passkey_path(@passkey), title: "Edit passkey" if action_name == "show" %>

    <%= link_to (content_tag :div, '', class: "icon filter visibility p-2 border-right-dashed"),
      passkey_path(@passkey), title: "Show passkey" if action_name == "edit" %>

    <%= content_tag :div, '', class: "icon filter cloud-upload p-2 cursor-pointer", id: "cloud-upload",
      data: { action: "click->passkey#submitForm" }, title: "Save passkey" if action_name != "show" %>

    <%= link_to (content_tag :div, '', class: "icon filter restore p-2 border-right-dashed"),
      passkey_versions_path(org_id: @passkey.id), title: "Versions of this passkey" if @passkey.id %>

    <%= content_tag :div, '', class: "icon filter share p-2 cursor-pointer", id: "share", title: "Share passkey",
      data: { controller: "passkey", action: "click->passkey#openShareDialog" } if @passkey.id %>

  </div>
  <div class="columns small-2 medium-2 text-right">
    <%= link_to (content_tag :div, '', class: "icon filter delete p-2"),
      passkey_path(@passkey), data: {turbo_method: :delete, turbo_confirm: 'Are you sure to delete this passkey?'},
      title: "Delete item!" if @passkey.id %>
  </div>
</div>
<% end %>
