<dialog id="shareDialog" class="dialog" data-controller="passkey">
  <div class="row color-900 text-xl py-2">
    <div class="columns small-10 medium-11">Share this key</div>
    <div class="columns small-2 medium-1 text-right">
      <span class="close" data-action="click->passkey#closeShareDialog">&times;</span>
    </div>
  </div>
  <div id="dialog_flash">
    <%= render "layouts/dialog_flash" %>
  </div>
  <div id="passkey_sharesForm">
    <%= render "passkeys/passkey_shares" %>
  </div>
  <div class="row">
    <div class="columns">
      <%= form_with url: passkey_shares_path, model: @passkey_share do |form| %>
        <%= form.hidden_field :passkey_id %>

        <%= label_tag :email, "Emailaddress" %>
        <%= form.email_field :email, placeholder: "Add other emailaddress to share with" %>

        <p><%= form.submit "Save", class: "button" %></p>
      <% end %>
    </div>
  </div>
</dialog>
