<div class="row secondary-menu">
  <div class="small-10 medium-10 columns">
    <img src="/assets/lock.svg" class="icon large">
    <span class="divider"></span>
    <%= link_to passkey_shares_path, title: "Show passkey shares" do %>
      <%= image_tag "share.svg", date: { tooltip: ''}, class: "icon large" %>
    <% end %>
    <span class="divider"></span>
    <img src="/assets/search.svg" data-controller="passkey" data-action="click->passkey#showSearch" class="icon large">
  </div>
  <div class="small-2 medium-2 columns text-right">
    <%= link_to new_passkey_path, data: { turbo_frame: dom_id(Passkey.new) } do %>
      <%= image_tag "lock-add.svg", class: "icon large" %>
    <% end %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: passkeys_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search passkeys', value: cookies[:search],
      data: { controller: "passkey", action: "focus->passkey#search input->passkey#search" } %>
  <% end %>
  </div>
</div>

<div class="row row-th hide-for-small-only">
  <div class="medium-6 columns">Title</div>
  <div class="medium-2 columns">Last read</div>
  <div class="medium-2 columns">Updated</div>
  <div class="medium-2 columns">Created</div>
</div>
<%= render "passkeys" %>
