<div class="row secondary mb-6">
  <div class="small-10 medium-10 columns">
    <div class="icon icon-lock md p-2 border-right-dashed"></div>
    <%= link_to (content_tag :div, '', class: "icon icon-share md p-2 border-right-dashed"),
       passkey_shares_path, title: "Show passkey shares", date: { tooltip: ''} %>
     <div class="icon icon-search md p-2" data-controller="passkey" data-action="click->passkey#showSearch"></div>
  </div>
  <div class="small-2 medium-2 columns text-right">
    <%= link_to (content_tag :div, '', class: "icon icon-lock-add md p-2"),
      new_passkey_path, data: { turbo_frame: dom_id(Passkey.new) } %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: passkeys_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search passkeys', value: cookies[:search],
      data: { controller: "passkey", action: "focus->passkey#search input->passkey#search" } %>
  <% end %>
  </div>
</div>

<div class="row hide-for-small-only color-bg-300 p-2">
  <div class="medium-7 columns">Title</div>
  <div class="medium-2 columns">Shared by</div>
  <div class="medium-1 columns">Last read</div>
  <div class="medium-1 columns">Updated</div>
  <div class="medium-1 columns">Created</div>
</div>
<%= render "passkeys" %>
