<%= render "passkeys/secondary_menu" %>
<%= render "passkeys/restore_menu" if @passkey.try(:org_id) %>

<div class="row" data-controller="passkey">
  <div class="columns medium-6">
    <div class="row">
      <div class="columns">
        <h2><%= @passkey.title %></h2>
      </div>
      <div class="columns">
        <%= label_tag :username, nil, class: "text-lg" %>
      </div>
      <div class="columns small-10 medium-11 mb-6">
        <%= content_tag :div, @passkey.username, id: "username" %>
      </div>
      <div class="columns small-2 medium-1">
        <div data-action="click->passkey#copyUsername" data-passkey-target="copiedUsername" class="icon copy"></div>
      </div>
      <div class="columns <%= "icon xs star-filled filter-orange" if @passkey.twofa %>">
        <%= label_tag :password, nil, class: "text-lg display-inline" %>
        <%= content_tag :div, '', class: "icon visibility label filter", id: "passwordToggle",
          data: { "action": "click->passkey#togglePassword" } %>
      </div>
      <div class="columns small-10 medium-11 mb-6">
        <%= password_field_tag 'password', @passkey.password,
          data: { "passkey_target": "passwordToggle", "action": "click->passkey#togglePassword" }  %>
      </div>
      <div class="columns small-2 medium-1">
        <div data-action="click->passkey#copyPassword" data-passkey-target="copiedPassword" class="icon copy border"></div>
      </div>
      <div class="columns mb-6">
        <%= label_tag :url, nil, class: "text-lg" %>
        <%= link_to @passkey.url, @passkey.url, target: "_blank" %>
      </div>
    </div>
  </div>
  <div class="columns medium-6">
    <div id="passkey_shares">
     <%= render "passkey_shares", resource: @passkey_shares unless @passkey_readonly || @passkey_shares && @passkey_shares.none?%>
    </div>
  </div>
</div>

<%= content_tag :div, class: "row", data: { controller: "passkey" } do %>
  <div class="columns">
    <%= label_tag :notes, nil, class:"text-lg display-inline" %>
    <%= content_tag :div, '', class: "icon filter visibility label", id: "notesToggle", data: { "action": "click->passkey#toggleNotes" } %>
    <%= content_tag :pre, @passkey.notes, id: "notes", class: "display-none" %>
    <div id="markdown" class="callout hide-notes disabled"
      data-passkey-target="notesToggle" data-action="click->passkey#toggleNotes">Click to show notes</div>
  </div>
<% end if @passkey.notes.present? %>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @passkey.tags.present? %>
    <%= hidden_field_tag "passkey_tags", @passkey.tags %>
  </div>
</div>

<%= render "/passkeys/shareDialog", resource: @passkey if @passkey_shares %>
<%= render "base/resource_footer", resource: @passkey %>
