<div class="row">
  <div class="columns">
    <h2>Sign in</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="columns">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="columns">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="columns">
    <%= f.submit "Log in", class: "button" %>
    <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me, class: "display-inline super" %>
      <%= f.check_box :remember_me , class: "sub" %>
    <% end %>
  </div>

</div>
<% end %>

<p>&nbsp;</p>

<%= render "devise/shared/links" %>
