<div class="row">
  <div class="columns">
    <h4>Current key shares</h4>
  </div>
  <div class="columns medium-4 row-th hide-for-small-only">Key title</div>
  <div class="columns medium-4 row-th hide-for-small-only">Emailaddress</div>
  <div class="columns medium-2 row-th hide-for-small-only">Created</div>
  <div class="columns medium-2 row-th hide-for-small-only">Updated</div>
</div>
<div id="passkeyshares" class="col-12">
<% @passkeyshares.each do | share | %>
  <%= link_to passkey_path(share.passkey_id), class: "row odd-even" do %>
     <%= content_tag :div, share.passkey.title , class: "columns medium-4" %>
     <%= content_tag :div, share.email , class: "columns medium-4" %>
     <%= content_tag :div, (l share.created_at) , class: "columns medium-2 hide-for-small-only" %>
     <%= content_tag :div, (l share.updated_at), class: "columns medium-2 hide-for-small-only" %>
  <% end %>
<% end %>
</div>

