<%= form_with model: @post, id: "postForm", class: "userinputs" do |form| %>
  <%= render "layouts/show_errors", resource: @post %>

  <div class="row">
    <div class="columns">
      <%= form.text_field :title, placeholder: "Note title" %>
    </div>
  </div>

  <!-- notes -->
  <div class="row">
    <div class="columns">
      <div class="icon preview align-bottom" id="preview_bt" data-action="click->post#showMarkdown" data-tooltip title="Click for preview"></div>
      <div class="icon edit align-bottom display-none" id="edit_bt" data-action="click->post#hideMarkdown" data-tooltip title="Click to edit"></div>
      <%= form.label :notes, class: "text-lg display-inline" %>
      <%= form.text_area :notes, placeholder: 'You can use markdown for notes', rows: '30' %>
      <div id="markdown"></div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <%= form.select :category, options_for_select([ "article", "hobby", "note", "todo", "other"], @post.category) %>
    </div>
  </div>

  <!-- tags -->
  <div class="row">
    <div class="columns">
      <%= form.label :tags, class: "label-th display-inline" %>
      <%= form.text_field :tags, placeholder: 'Comma separeted values' %>
      <div id="tagsContainer"></div>
    </div>
  </div>
<% end %>

