<% @files.each do |file| %>
  <div class="row even my-4">
    <div class="medium-6 columns pt-8">
      <%= file %>
    </div>
    <div class="medium-2 columns">
      <% if file.match? /.jpg$|.jpeg$|.gif$|.png$/ %>
        <%= image_tag "/uploads/#{current_user.id}/posts/#{@post.id}/#{file}" %>
      <% elsif file.match? /.pdf$/ %>
        <%= content_tag :div, '', class: 'icon pdf xl4', style: 'height: 100%' %>
      <% else %>
        <%= content_tag :div, '', class: 'icon unknown-document xl4', style: 'height: 100%' %>
      <% end %>
    </div>
    <div class="medium-4 columns pt-8">
      <%= content_tag :div, "Copy link", id: "#{file}", title: "/uploads/#{current_user.id}/posts/#{@post.id}/#{file}",
     data: { controller: "post", "action": "click->post#copyImageUrl" }, class: "button tiny" %>
      <%= link_to '', post_image_path(id: @post.id, file: file),
      data: {turbo_method: :delete, turbo_confirm: 'Are you sure to delete this image?'},
      class: "icon delete float-right" %>
    </div>
  </div>
<% end %>
