<div class="row mb-6 hide-for-print">
  <div class="columns small-10 medium-10">
    <%= content_tag "icon articl p-2" unless @post.id %>
    <%= link_to (content_tag :div, '', class: "icon article p-2 border-right-dashed"),
      post_path(@post), title: "Back to post, without saving" if @post.id %>

    <%= link_to (content_tag :div, '', class: "icon edit p-2 border-right-dashed"),
      edit_post_path(@post), title: "Edit post" if action_name == "show" %>

    <%= content_tag :div, '', class: "icon cloud-upload p-2 cursor-pointer border-right-dashed", id: "cloud-upload",
      data: { action: "click->post#submitForm" }, title: "Save post" if action_name != "show" %>

    <%= content_tag :div, @files.length, class: "icon image-add p-2 cursor-pointer border-right-dashed",
      data: { modal_open: "addFile" } if @post.id && action_name == "edit" %>

    <%= link_to (content_tag :div, '', class: "icon restore p-2"),
      post_versions_path(org_id: @post.id), title: "Versions of this post" if @post.id %>

  </div>
  <div class="columns small-2 medium-2 text-right">
    <%= link_to (content_tag :div, '', class: "icon delete p-2"), post_path(@post),
      data: {turbo_method: :delete, turbo_confirm: 'Are you sure to delete this post?'},
      title: "Delete note" if @post.id %>
  </div>
</div>
