<div class="row secondary-menu">
  <div class="small-10 medium-10 columns">
    <img src="/assets/article.svg" class="icon large">
    <span class="divider"></span>
    <img src="/assets/search.svg" data-controller="post" data-action="click->post#showSearch" class="icon large">
  </div>
  <div class="small-2 medium-2 columns text-right">
    <%= link_to new_post_path, data: { turbo_frame: dom_id(Post.new) } do %>
      <%= image_tag "note-add.svg", class: "icon large" %>
    <% end %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: posts_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search notes', value: cookies[:search],
      data: { controller: "post", action: "focus->post#search input->post#search" } %>
  <% end %>
  </div>
</div>

<div class="row row-th hide-for-small-only">
  <div class="medium-6 columns">Title</div>
  <div class="medium-2 columns">Last read</div>
  <div class="medium-2 columns">Updated</div>
  <div class="medium-2 columns">Created</div>
</div>
<%= render "posts" %>
