<%= render "posts/secondary_menu" unless @post.try(:org_id) %>
<%= render "posts/restore_menu" if @post.try(:org_id) %>

<div class="row">
  <div class="columns">
    <h2><%= @post.title %></h2>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= label_tag :content, nil, class:"label-th" unless @post.content.blank? %>
    <%= content_tag :pre, @post.content, id: "content", class: "display-none" %>
    <div data-controller="post" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @post.tags %>
    <%= hidden_field_tag "post_tags", @post.tags.present? %>
  </div>
</div>

<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l @post.created_at, format: :default %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l @post.updated_at, format: :default %></div>
</div>
