<%= render "posts/secondary_menu" unless @post.try(:org_id) %>
<%= render "posts/restore_menu" if @post.try(:org_id) %>

<%= form_with model: @post do |form| %>
<div class="row">
  <div class="columns <%= @post.category %>">
    <h2><%= @post.title %></h2>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= text_area_tag :notes, @post.notes, class: "display-none" %>
    <fieldset id="tocFieldset">
      <legend>Content</legend>
      <div id="toc"></div>
    </fieldset>
    <div data-controller="post" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @post.tags.present? %>
    <%= form.hidden_field :tags %>

  </div>
</div>
<% end %>

<%= render "base/resource_footer", resource: @post %>
