<%= render "posts/secondary_menu" unless @post.try(:org_id) %>
<%= render "posts/restore_menu" if @post.try(:org_id) %>

<%= form_with model: @post do |form| %>
<div class="row">
  <div class="columns">
    <h2><%= @post.title %></h2>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :pre, @post.notes, id: "notes", class: "display-none" %>
    <fieldset id="tocFieldset">
      <legend>Content</legend>
      <div id="toc"></div>
    </fieldset>
    <div data-controller="post" id="markdown"></div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= content_tag :div, '', id: "tagsContainer" if @post.tags.present? %>
    <%= form.hidden_field :tags %>

  </div>
</div>

<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l @post.created_at, format: :default %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l @post.updated_at, format: :default %></div>
</div>
<% end %>
