<nav class="top-bar">
<div class="row">
  <div class="small-2 medium-2 columns">
    <a href="/">
      <%= image_tag "home.svg", class: "icon medium white" %>
      <span class="show-for-large"> Home</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/events">
      <%= image_tag "calendar-month.svg", class: "icon medium white" %>
      <span class="show-for-large"> Calendar</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/contacts">
      <%= image_tag "group.svg", class: "icon medium white" %>
      <span class="show-for-large"> Contacts</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/posts">
      <%= image_tag "article.svg", class: "icon medium white" %>
      <span class="show-for-large"> Posts</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/keys">
      <%= image_tag "lock.svg", class: "icon medium white" %>
      <span class="show-for-large"> Keys</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
      <%= image_tag "logout.svg", class: "icon medium white" %>
      <span class="show-for-large"> Sign out</span>
    <% end %>
  </div>
</div>
</nav>
