<nav class="top-bar">
<div class="row">
  <div class="small-2 medium-2 columns">
    <a href="/">
      <%= image_tag "home.svg", class: "icon medium white" %>
      <span class="show-for-large"> Home</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/events">
      <%= image_tag "calendar-month.svg", class: "icon medium white" %>
      <span class="show-for-large" data-turbo="false"> Calendar</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/contacts">
      <%= image_tag "group.svg", class: "icon medium white" %>
      <span class="show-for-large"> Contacts</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/posts">
      <%= image_tag "article.svg", class: "icon medium white" %>
      <span class="show-for-large"> Posts</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/bookmarks">
      <%= image_tag "bookmarks.svg", class: "icon medium white" %>
      <span class="show-for-large"> Bookmarks</span>
    </a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/keys">
      <%= image_tag "lock.svg", class: "icon medium white" %>
      <span class="show-for-large"> Keys</span>
    </a>
  </div>
</div>
</nav>
