<!DOCTYPE html>
<html>
<head>
<title>Pim</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= javascript_include_tag '/static/fullcalendar-6.1.10.js' %>
<%= javascript_importmap_tags %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= yield(:head) %>
</head>

<body>

<%= render "layouts/menu" %>
<%= render "layouts/flash" %>

<%= yield %>

<%= render "layouts/dialog" %>

<%= javascript_include_tag "snippets", "data-turbo-track" => "reload" %>

</body>
</html>
