<!DOCTYPE html>
<html>
<head>
<title>Pim</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>
<%= yield(:head) %>
</head>

<body>

<nav class="top-bar">
  <%= render  "layouts/menu" %>
</nav>

<div class="ib-menu icon-medium">menu</div>
<div class="ib-arrow-forward">Arrow forward</div>
<div class="ib-arrow-back">Arrow back</div>

<div id="flash" class="flash">
  <%= render "layouts/flash" %>
</div>

<%= yield %>

</body>
</html>
