<!DOCTYPE html>
<html>
<head>
<title>Pim</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="manifest" href="manifest.json" />
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta name="turbo-prefetch" content="false">

<%= javascript_include_tag '/static/fullcalendar-6.1.10.min.js' %>
<%= javascript_importmap_tags %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "development" if Rails.env == 'development' %>
<%= yield(:head) %>
</head>

<body id="theme">

  <div id="wrapper">
  <%= render "layouts/menu" %>
  <%= render "layouts/flash" %>
  <%= yield %>
</div>

<div id="footer" class="text-center p-2 color-100 text-sm">
  Personal information manager | Created by <a href="https://andries.filmer.nl" class="color-100 text-sm">Andries Filmer</a>.
</div>

<%= render "layouts/dialog" %>

<%= javascript_include_tag "snippets", "data-turbo-track" => "reload" %>

</body>
</html>
